.catalog {
}

.catalog__wrapper {
}

.catalog__title {
  @include mar-pad-reset;
  font-family: $font-family;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: $basic-black;
}

.catalog__goods {
}
