.form-subscribe {
}

.form-subscribe__field {
}

.form-subscribe__input {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.form-subscribe__button {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
  color: $basic-white;
}
