.site-list {
  @media (min-width: $tablet-width) {
    gap: 32px;
  }
}

.site-list__item {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    text-align: center;
    border-top: 1px solid $special-dark-grey-3;

    &:last-child {
      border-bottom: 1px solid $special-dark-grey-3;
    }
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    text-decoration: underline;
    text-decoration-color: $basic-green;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
  }

  @media (min-width: $desktop-width) {
    text-decoration-color: $basic-white;
  }
}

.site-list__item--active-catalog {
  @media (min-width: $desktop-width) {
    text-decoration-color: $basic-green;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  padding: 25px 20px;

  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
    padding: 0px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 100%;
    color: $basic-white;
  }
}

.site-list__link--catalog {
  @media (min-width: $desktop-width) {
    color: $basic-black;
    text-decoration-color: $basic-green;
  }
}
