.stats {
  @include mar-pad-reset;
  margin-top: 40px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.stats__wrapper {
  @include mar-pad-reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
  }
}

.stats__list {
  @include list-reset;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }
}

.stats__item {
  @include mar-pad-reset;
  width: 124px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.stats__value {
  @include mar-pad-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: $basic-black;
  background-image: url("../../icons/weight-back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 123%;
  }
}

.stats__parameter {
  @include mar-pad-reset;
  font-family: $second-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $special-dark-grey;
  margin-top: -8px;
  background-color: transparent;
  align-self: center;
  box-sizing: border-box;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-top: -10px;
    padding: 0 8px;
    background-color: $basic-grey;
  }
}

.stats__total-wrapper {
  @include mar-pad-reset;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: end;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 0;
    margin-right: auto;
  }
}

.stats__total {
  @include mar-pad-reset;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  text-align: center;
  color: $basic-black;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    text-align: start;
  }
}
